/*===============================


  Universal Styling


*===============================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Alegreya", sans-serif;
}

/*===============================


  Header Styling


*===============================*/
header {
    background-color:  #10106b;
    margin-top: 0;
    padding: 20px 0;
    position:fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

header nav li {
    display: inline-block;
}
header a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

/*===============================


  Body Styling


*===============================*/

main{
  position: relative;
  padding-top: 80px;
  margin-bottom: 80px;
}

h1 {
  text-align: center;
}

.hero {
    max-width: 80%;
    position: relative;
    display: block;
    margin: auto;
  }

  /*===============================


    Balloon Styling


  *===============================*/
  .red {
    position: absolute;
    animation-name: float;
    left: 10px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .yellow {
    position: absolute;
    animation-name: float;
    animation-delay: 5s;
    left: 50px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .blue {
    position: absolute;
    animation-name: float;
    animation-delay: 2s;
    left: 800px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes float {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(-700px);
    }
  }
